# Quality dependencies
black==21.9b0
doc8==0.9.1
pydocstyle==6.1.1
radon==5.1.0
xenon==0.8.0
types-PyYAML==5.4.10

prospector[with_bandit,with_mypy,with_pyroma,with_flake8,with_vulture]==1.5.1

# Documentation
sphinx==4.2.0
sphinx-argparse==0.2.5
plantweb==1.2.1
sphinxcontrib.asciinema==0.3.3

# Testing
pytest==6.2.5
pytest-cov==3.0.0
behave==1.2.6

# Automation
pre-commit==2.15.0
