# Quality dependencies
black==22.10.0
doc8==1.0.0
pydocstyle==6.1.1
radon==5.1.0
xenon==0.9.0
types-PyYAML==6.0.12.2
codespell==2.2.2

prospector[with_bandit,with_mypy,with_pyroma,with_flake8,with_vulture]==1.7.7

# Documentation
sphinx==5.3.0
sphinx-argparse==0.4.0
plantweb==1.2.1
sphinxcontrib.asciinema==0.3.5

# Testing
pytest==7.2.0
pytest-cov==4.0.0
behave==1.2.6

# Automation
pre-commit==2.20.0
