# Quality dependencies
black==22.12.0
doc8==1.0.0
pydocstyle==6.1.1
radon==5.1.0
xenon==0.9.0
types-PyYAML==6.0.12.2
codespell==2.2.2
mypy==0.991
# flake8==5.0.4 # version 6.x.x requires python >= 3.8.1 (but 3.7 support window is until 2023-06-27)
bandit==1.7.4
vulture==2.6
pyroma==4.1
isort==5.11.4
pylint==2.15.9

# Documentation
sphinx==5.3.0
sphinx-argparse==0.4.0
plantweb==1.2.1
sphinxcontrib.asciinema==0.3.5

# Testing
pytest==7.2.0
pytest-cov==4.0.0
behave==1.2.6

# Automation
pre-commit==2.21.0
