name: CI & Release Orchestration

on:
  push:
    branches:
      - main
    tags:
      - '*.*.*'
  pull_request:
    types: [opened, synchronize, reopened]

  # Allows to run this workflow manually
  workflow_dispatch:

permissions:
  contents: read

jobs:
  draft-release:
    uses: ./.github/workflows/release.yml
    permissions:
      contents: write
      security-events: write

  build-binaries:
    needs: draft-release
    uses: ./.github/workflows/build.yml
    permissions:
      contents: write
      security-events: write
    with:
      release_id: ${{ needs.draft-release.outputs.release_id }}

  run:
    needs: draft-release
    uses: ./.github/workflows/run.yml
    permissions:
      contents: read
      security-events: write
    with:
      release_id: ${{ needs.draft-release.outputs.release_id }}
